%h1 Hodnocení Přežití :: večeře

= bootstrap_form_for @team, url: survival_dinner_path(suid: @team.survival_uid) do |f|
  = f.text_field :points_survival_dinner
  = f.submit "Uložit", class: "btn btn-primary"
