%h1 Informace pro doprovody

%p Nazdar,

%p Toto je oficiální zadání od pořadatelů Krajského kola Svojsíkova závody Prahy 2019 a je třeba, aby ses s ním seznámil.

%p Co se od tebe čeká? Přivedení soutěžní hlídky na modul Přežití a její doprovod ve vlaku z Prahy, od vystoupení z vlaku v Řevnicích dále výkon role rozhodčího během modulu Přežití pro jinou hlídku vč. dohledu na tuto hlídku, v sobotu pak účast na stanovištích v modulu Závod v podružné roli (stačí tam být, instrukce a materiál pro tebe bude mít garant stanoviště) a doprovod vlastní družiny domů.

%p Kdy? V pátek 7.6. s časy odjezdu vlaku ze Smíchovského nádraží mezi 16:30 a 17:30 (podle volby tvé hlídky při přihlášení, nebo určení) do soboty 8.6. cca 20 hodin, kdy lze čekat návrat do Prahy (záleží, jak si to váš oddíl zařídí / naplánuje). Při přihlášení hlídky je možné si přiobjednat odvoz autobusem zajišťující rozumný dojezd do Prahy, možnosti veřejné dopravy jsou značně omezené.

%p Kde? Vlakem pojedete do Řevnic. Odtud půjdete pěšky s přespáním přes Brdy do Kytína, kde v sobotu proběhne závod a bude akce končit.

%p Kdo? Ty, jsi-li plně svéprávný, tj. bylo ti 18 let, nebo pokud jsi podle posouzení svého oddílového vedoucího schopen doprovázet družinu soutěžících dětí a přebrat za ně roli osoby vykonávající náležitý dohled se vší zodpovědností z toho plynoucí. Nejsi-li na takovou zodpovědnost připraven, informuj svého oddílového vedoucího, aby zajistil náhradu (nepřeceňuj své síly).

%p Jak to celé bude? Klíčovou součástí akce bude webová stránka, odkaz hlídky již mají a ty zjevně také. Na ní jsou veškeré údaje pro tvoji družinu. Tvá hlídka žádné jiné informace nedostane (s výjimkou nástupu na závod a stanovišť, což proběhne v sobotu ráno po skončení modulu Přežití). Seznam se s celým webem, ať víš, jak to funguje a jaký bude symbolický rámec.

%p Tuto stránku si vytiskni a měj ji s sebou v papírové podobě pro pozdější použití.

%p V záložce "Cesta/MED" vyplň rovnou zdravotní omezení členů hlídky, aby s tím mohl zdravotník akce počítat a také jako informaci pro doprovod, který s hlídkou bude absolvovat modul Přežití. To prosím udělej co nejdříve (požadavek zdravotníka).

%h2 Moduly Před závodem a Přežití

%p Hlídky na webu uvidí vždy záložku aktuálního modulu, jako první je popis modulu Před závodem - jeho nutnou součástí je Přihlášení (také bodovaná disciplína). Dohlídni jen a jen na to, aby tvá družina přihlášení provedla, nesmíš to udělat za ni nebo jí jinak pomáhat, protože to by byl důvod diskvalifikace hlídky. Obecně platí, že žádné hlídce nesmíš pomáhat (výjimkou je pouze zdravotní ošetření). Nezpomeň, že jsi doprovod a rozhodčí - tichý společník sledující průběh (můžeš si dělat poznámky k níže uvedeným bodovaným činnostem) a bezpečnostní dozor.

%p Modul Přežití už na webu tolik rozvinut není, a to proto, že je třeba jej plnit postupně a teprve v případě postupného splnění jednotlivých částí vč. odpovídající akce na webu lze postoupit dál.
Nicméně, tobě, jako doprovodu sdělujeme průběh už předem. Nikomu z hlídky jej nesděluj, zkazil bys celou práci. Tedy - doprovodíš hlídku na Smíchovské nádraží, spolu pojedete vlakem do Řevnic. Konkrétní spoj si tvá hlídka zvolila z nabídky na webu sama v rámci modulu Před závodem.

%p Po vystoupení se ještě na nádraží pomocí webu hlídka odprezentuje (skupinové selfie, na kterém budou všichni členové hlídky a rozpoznatelný nápis Řevnice (např. na staniční budově). Fotku nahrají pomocí formuláře na webu a do textového pole vyplní jména všech členů na fotce zleva doprava). Potkáte se ještě na nádraží s dalšími hlídkami. Nikam neodcházejte!

%p Ty vyplň body za dopravu v záložce "Cesta/MED" (max. 36 bodů) -- hodnoť naplánování cesty na nádraží (včasný sraz, vhodně zvolené spojení, vyhledaná doba jízdy -- až 12b), nakoupení lístků a nastoupení do vlaku (orientace na nádraží, komunikace s pokladní, dobře koupený lístek, správné využití lítačky -- až 12b), chování ve vlaku (slušnost, včasná příprava na vystoupení apod. -- až 12b).

%p
V tu chvíli se odpojíš od své hlídky a připojíš se k jiné soutěžní hlídce - zvládnete se jistě proházet sami, ale na místě bude připraven mediátor/usměrňovač - a od této chvíle se stáváš rozhodčím modulu Přežití a doprovodem vykonávajícím dohled této jiné hlídky, a to až do sobotního rána, do doražení na místo nástupu a startu závodu, které je zde: https://mapy.cz/s/3sA9Q (viz mapa níže).

%p Od nyní hodnoť sledovanou hlídku přes její webový odkaz doplněný o HPS za posledním znakem, kde se navíc slovo “team” vymění za “hps”. Nespleť to a nepoužívej již tento, původní odkaz svojí hlídky -- body zadávej hlídce, se kterou jsi odešel.

%p
  Příklad:	http://sz2019.beziliska.cz/team/8bce750d4cc
  %br
  se změní na: 	http://sz2019.beziliska.cz/hps/8bce750d4ccHPS

%p
  Za žádnou cenu neodcházej z nádraží s vlastní hlídkou! Podle zadání na webu, které se nově doprovázené hlídce zobrazí po odprezentování členů a tvé osoby, se vydáte buď po žluté nebo zelené značce z Řevnic k hřebeni - kóta 577 m. Vrážky. Hlídka nemá na výběr, kterou značkou půjde, ty na to dohlídni. Smyslem je, aby nešlo více hlídek pohromadě. Značku můžete opustit až po opuštění zástavby Řevnic, dále volí hlídka cestu sama. Družina má za úkol cestou od vlaku ke spaní si uvařit večeři. Celá aktivita by neměla přesáhnout vč. úklidu 80 minut, abyste nepřicházely na místo spaní za tmy. Nesmí se rozdělávat ohně, a to ani na existujících ohništích. Je třeba použít vařič. Vhodné místo k vaření si družina vybírá sama, ty jen ohlídej všeobecnou bezpečnost a zákaz rozdělávání ohně vč. na vařiči v lese. Za vhodné místo považujeme turistický přístřešek, který je cestou na obou značkách.

%p
  Po večeři zadáš hodnocení na web a hlídky se dozví souřadnice GPS, kam pokračovat dál k výběru místa na spaní - na tzv. “hotspot”. Trasu si volí hlídky samy, ty je jen doprovázej. Po nalezení tzv. hotspotu na daných souřadnicích dohlídni, aby se hlídka seznámila s instrukcemi (je tam jen obecná informace, že mají v okruhu 100 m od tohoto místa vybrat místo táboření tak, aby nebylo vidět na jinou tábořící hlídku a prezence příchodu) a vrátila zprávu na původní místo. Nenajde-li hlídka hotspot do 21:30, zatábořte kdekoli. Budeš muset sdělit hlídce místo srazu na závod, aby se hlídka zařídila s plánováním ranního přesunu na 7:00-7:30. To jim zdůrazni.

%p
  Dále sleduj výběr a provedení tábořiště, zamez případnému spojování hlídek v jednom místě (můžete s nedalekým doprovodem sdílet stan, pokud to nebude na újmu role rozhodčího). Dohlídni na dodržování klidu v lese a plánování postupu druhý den ráno, ptej se jich na jejich ranní plán. Některé hlídky budou spát až 5 km od startu, je třeba aby večer plánovali postup na start na čas vč. balení a úklidu tábořiště. Jsi tam od toho, abys dal pokyn k dřívějšímu odchodu, když budou např. říkat, že uběhnou 3 km za 20 minut a stan sbalí za 10 minut. Zamezení evidentnímu zpoždění příchodu hlídky na nástup se nepovažuje za pomoc hlídce, nicméně jej zohledni při bodování (viz níže). Je bezpodmínečně nutné, abys ohlídal, že hlídky budou na startu závodu ráno do 7:30. Pozdní příchod hlídky bude třeba trestat její diskvalifikací, neboť nelze posouvat čas začátku závodu kvůli opozdilcům (to provede hlavní rozhodčí).

%p Ráno po dosažení místa startu se odpojíš od bodované hlídky a přesuneš se podle potřeby na některé ze stanovišť závodu - instrukci dostaneš od garanta modulu Závod. Na tomto místě bude možnost se setkat s vlastní hlídkou, odložit si do sucha a bezpečí batoh z noci, načerpat pití na sobotní den, využít mobilní WC a zbavit se odpadu z pátku.

%h2 Hodnocení disciplín v modulu Přežití

%p Celkem můžeš udělit až 252 bodů. Třetinu bodů přiděl za kvalitu každé z uvedených bodovaných podsložek disciplíny. Body jsou kladné, nestrháváš body za nesplnění. Proto je třeba volit kladný přístup a hledat věci hodné ocenění, přičemž návod níže je pouhá pomůcka.

%p vaření jídla (36b.) - recept, chuť, postup,

%p Např. nepoživatelné plněné knedlíky, které se spálily ohodnoť: recept 12 b, chuť 0 bodů, postup 6b (za spálení uber polovinu), celkem 18 bodů. Z receptu třetinu bodů (tj. až 4b) dej za správné rozvržení množství, tedy bylo toho dost a nic se nevyhodilo.

%p vhodný výběr tábořiště (18b.) - rovina podkladu, ochrana před přírodními vlivy, genius loci

%p Např. umístění stanu na jehličnaté rovince vymetené od šišek, která není ohrožena stékající vodou nebo padajícím stromem ohodnoť 12 b., příjemnost místa hodnoť zcela subjektivně 0-6 body. Celkem až 18 bodů.

%p postavení a bourání stanu (36b.) - stavba a bourání, pevnost postavení, vzhled

%p Např. užití všech dílů stanu až 12 bodů, uchycení všech částí a využití kolíků až 12 bodů, symetrický rovný stan až 12 bodů

%p úklid tábořiště (36b.) - odpadky, dopad na vegetaci, “skrytí stop”

%p Kladně hodnoť použití trashbagů (4b), třídění odpadu (4b), zbytečné nevytváření odpadu (4b), neolamování větví (8b) a nevydupávání zbytečných ploch v trávě nebo borůvčí (4b) hodnoť kladně, kladně dále hodnoť jednání v duchu, že skaut odchází z tábořiště v lepším stavu, než v jakém na něj přišel (např. odnos odpadků, které na místě už byly -- hodnoť aktivní přístup hlídky a uvažování tímto směrem, pokud není objektivně moc co zlepšit -- až 12 b).

%p balení batohu (36b.) - čas, výsledek, množství věcí zbylých v ruce

%p Kladně hodnoť, pokud je balení v rámci času “samo sebou” a není pro něj třeba pořádat zvláštní okamžik (12b). Vzhled a funkčnost vzhledem k ergonomii hodnoť kladně (rozumně vyvážený batoh 4b, správně upnutý na těle - nastavení popruhů 4b, zapnuté všechny přezky a zipy 4b). Hodnoť kladně i všechny věci zpátky na zádech - nikoli stan nebo dokonce spacák v ruce (4b), uvnitř batohu a ne zvenku (4b) a společný náklad rozdělený mezi ostatní (4b).

%p Orientace v přírodním terénu nebo ve městě (36b.) - práce s mapou nebo GPS, délka a čas postupu, předvídavost
Hodnoť kladně kvalitní postup. Bez prodlev 4b,, bez bloudění 4b,, vhodnost povrchu cesty 4b,. Dále hodnoť, jak rozumně rychle hlídka jde k cíli a zejm. ráno do místa startu závodu 12b. Kladné body dej za přípravu plánu ranního postupu už večer a jeho splnitelnost (v případě nesplnitelnosti zasáhni) 12b

%p Moral (36b.) - teamová spolupráce, chování, bezpečnost
Hodnoť kladně družinovou spolupráci. Zda družina poslouchá rádce 3b, jak se tvoří rozhodnutí 3b, jak se kdo zapojuje do činností 3b, jak na sebe a svoje individuální možnosti berou členové ohledy 3b, jak se hlídka projevuje navenek 12b (slušné chování v obcích apod.). Bezpečné chování ve vztahu k dopravě (přecházení a pohyb po silnici v souladu s pravidly) 12b.

%h2 Co s sebou:

%ul
  %li Věci na přespání pro tebe samotného (chceš-li stan, nes si ho)
  %li Oblečení do lesa na pochod cca 10 km v Brdech a druhý den na závod (reflexní prvky pro večer).
  %li Osobní věci (mytí, čelovka, nůž,...)
  %li Plně nabitý smartphone s webovým prohlížečem a přístupem na internet, stažená aktuální verze mapy.cz (úsporný režim, vypnuté nepotřebné fce. např. Bluetooth nebo WiFi)
  %li Powerbanka a kabel
  %li Jídlo na celou dobu (pátek večeře - nepočítej s ohněm, sobota celý den), pití do soboty do rána, na startu můžeš doplnit vodu
  %li lékárnička

%h2 Kontakty

hlášení krizových událostí na tel. 606923595 (Šulda)

%h2 Střet s blbcem

V případě střetu s někým, kdo bude tvrdit, že v lese nemáte co dělat, nebo bude dělat problém, slušně sdělte, že se jedná o Krajské kolo Svojsíkova závodu, což je vlastníky a správci lesa povolená akce, ohlášená Krajskému úřadu Středočeského kraje. V případě neodbytnosti sdělte tel na Šuldu, viz výše.

%h2 Bezpečnostní poučení

%p Pozor na provoz na pozemních komunikacích, dohlédni na chůzi při levém okraji vozovky a použití reflexních prvků mimo obec po setmění.

%p Děti jsou o chování v lese poučeni následovně, nicméně to celé platí i pro tebe: V lese se chovejte jako zvěř. Upozorňujeme Vás na zvýšené riziko pádu stromů, větví narušených přírodními vlivy, na riziko pádu koláčů po vývratech, možnost střetu s vozidly, koňskými potahy, lesní technikou na lesních cestách a ostatními návštěvníky lesa) cyklisté, in-line bruslaři apod.) Pohybovat se po lese vč. cest budete na vlastní nebezpečí. K místu provádění těžby stromů nebo jiné mechanizované činnosti není dovoleno se přibližovat na méně než 50 m, k místu nakládání dřeva na automobily pak na méně než 20 m. Vaší účastí na závodu nesmí dojít k škodám na lesních porostech (zejména poškození mladých porostů o výšce do 2 m). Případně způsobené škody jste povinni zdokumentovat a nahlásit organizátorům. Jste povinni dodržovat zákon o lesích, zejm. § 20 - dodržovat zákazy následujících činností: rozdělávání ohňů, rušit klid a ticho, vstupovat do oplocených míst, nocovat v mysliveckých zařízeních, znečišťovat les odpady a odpadky.

%h2 Mapa

= image_tag "survival_super_map.png"