%h1 Modul Před závodem :: test z pravidel SZ

%p Test začal v #{@team.ts_rules_started.strftime("%H:%M:%S")}

- Team.rules_questions.each_with_index do |q, qi|
  %p= q
  %p= text_field_tag "rules[q#{qi+1}]"