%h1 Modul Před závodem :: test z pravidel SZ

%p Max 30 minut.

%p Info o testu.

= link_to "Začít vyplňovat test", before_rules_start_team_path(uid: @team.uid), class: "btn btn-success", method: :post