%h1 Důležité informace

%h2 Bezpečnostní poučení

%p Po celou dobu závodu se chovejte zodpovědně a ohleduplně. Pohybujte se opatrně zejm. na silnicích, kde dodržujte pravidla silničního provozu. (zejm. choďte při levém okraji silnice, dávejte pozor při přecházení, po setmění je třeba užít reflexních prvků). 

%p V lese se chovejte jako zvěř. Upozorňujeme Vás na zvýšené riziko pádu stromů, větví narušených přírodními vlivy, na riziko pádu koláčů po vývratech, možnost střetu s vozidly, koňskými potahy, lesní technikou na lesních cestách a ostatními návštěvníky lesa) cyklisté, in-line bruslaři apod.) Pohybovat se po lese vč. cest budete na vlastní nebezpečí. K místu provádění těžby stromů nebo jiné mechanizované činnosti není dovoleno se přibližovat na méně než 50 m, k místu nakládání dřeva na automobily pak na méně než 20 m. Vaší účastí na závodu nesmí dojít k škodám na lesních porostech (zejména poškození mladých porostů o výšce do 2 m). Případně způsobené škody jste povinni zdokumentovat a nahlásit organizátorům. Jste povinni dodržovat zákon o lesích, zejm. § 20 - dodržovat zákazy následujících činností: rozdělávání ohňů, rušit klid a ticho, vstupovat do oplocených míst, nocovat v mysliveckých zařízeních, znečišťovat les odpady a odpadky. 

%h2 Vybavení

%p Pro závod budete potřebovat přístup na internet, a to po celou dobu od pátečního odjezdu z Prahy do sobotního podvečera, kdy závod končí. Doporučujeme mít proto ve hlídce alespoň tři plně nabité telefony s datovou sim, nejlépe různých operátorů, neboť v lese nemusí být signál za všech okolností. Dále byste měli mít náhradní powerbanky (alespoň dvě na hlídku) a kabely. Dále doporučujeme vypnutí nepotřebných aplikací, funkcí a vysílačů, jako je bluetooth. Zapnutí úsporného režimu, snížení jasu obrazovky a pochopitelně nepoužívání přístrojů pro jiné aktivity je samozřejmostí. Dále doporučujeme mít jeden mobilní telefon (nemusí být smartphone) jako zálohu pro případ potřeby nouzových volání. 

%p spacak celtu pytel

%h2 Jak to celé bude