%h1 Důležité informace

%h2 Sdělení

%p Konání akce umožnil podnik Lesy České republiky, s. p.

%h2 Bezpečnostní poučení

%p Po celou dobu závodu se chovejte zodpovědně a ohleduplně. Pohybujte se opatrně zejm. na silnicích, kde dodržujte pravidla silničního provozu. (zejm. choďte při levém okraji silnice, dávejte pozor při přecházení, po setmění je třeba užít reflexních prvků). 

%p V lese se chovejte jako zvěř. Upozorňujeme Vás na zvýšené riziko pádu stromů, větví narušených přírodními vlivy, na riziko pádu koláčů po vývratech, možnost střetu s vozidly, koňskými potahy, lesní technikou na lesních cestách a ostatními návštěvníky lesa (cyklisté, in-line bruslaři apod.) Pohybovat se po lese vč. cest budete na vlastní nebezpečí. K místu provádění těžby stromů nebo jiné mechanizované činnosti není dovoleno se přibližovat na méně než 50 m, k místu nakládání dřeva na automobily pak na méně než 20 m. Vaší účastí na závodu nesmí dojít k škodám na lesních porostech (zejména poškození mladých porostů o výšce do 2 m). Případně způsobené škody jste povinni zdokumentovat a nahlásit organizátorům. Jste povinni dodržovat zákon o lesích, zejm. § 20 - dodržovat zákazy následujících činností: rozdělávání ohňů, rušit klid a ticho, vstupovat do oplocených míst, nocovat v mysliveckých zařízeních, znečišťovat les odpady a odpadky. 

%p Rozdělávat oheň je zakázáno i na existujících ohništích neb tábořištích, jakož i na cestách nebo u potoka. Souhlas s konáním akce máme za podmínky, že ohně rozdělávat prostě nebudeme. Je povoleno použít bezpečný vařič, ale pouze na rozumném místě (na cestě, na kameni, na stole v turistickém přístřešku apod.).

%h2 Jak to celé bude

%p Jako postupující hlídka do krajského kola SZ jste dostali přístup na tento web. Odteď bude klíčovou součástí celého krajského kola, tj. všech jeho modulů - před závodem, přežití, závod i zpětná vazba. #{link_to "Odkaz z QR kódu", dashboard_url(uid: @team.uid)} si uložte do oblíbených, abyste jej během závodu měli po ruce.

%p Nejdříve si důkladně pročtěte tuto záložku, kde jsou informace. Poté se jděte na modul - záložku #{link_to "Před závodem", module_before_team_url(uid: @team.uid)} a přihlaste se.  Nezapomeňte však sledovat odteď už i záložku #{link_to "Přežití", module_survival_team_url(uid: @team.uid)}. Pro účast na akci se seznamte s povinným vybavením a zařiďte se podle něj. 

%p Pro účast na modulu před závodem sledujte a plňte úkoly v záložce před závodem. I během modulu přežití bude třeba mít přístup k webu, kam budete zadávat plnění úkolů a dozvíte se postup na místo, kde přespíte v brdských lesích. Bude třeba se na místo dostat, což je částečně také hodnocená disciplína, uvařit si cestou večeři, najít přesné místo na spaní, zatábořit, uklidit po sobě (zařiďte se předem) a hlavně - ráno se včas dostat na místo srazu k hlavnímu modulu závod.

%p Ráno na srazu čekejte vodu, mobilní toaletu, možnost zbavit se odpadu z večera a místo pro uložení batohů. Závodu se můžete zúčastnit nalehko, závod bude probíhat celou sobotu. Před závodem bude nástup, proto mějte kroj. 

%p Vaše doprovody vás po vystoupení z vlaku opustí a připojí se k vám kontrolor od jiné hlídky. S doprovody se setkáte opět v sobotu ráno na místě srazu závodu. 

%p Po závodu proběhne vyhlášení spojené s nástupem a návrat domů z okolí Kytína. Protože možnosti veřejné dopravy jsou omezené, nabízíme možnost zajištění dopravy autobusem z Kytína do Prahy proti uhrazení nákladů (cca 150 Kč na hlídku, jen v případě odezvy dostatečného počtu hlídek). Očekávaný návrat tímto spojem je kolem 20. hodiny na Smíchovské nádraží. V případě zájmu o setrvání na místě na vlastní pěst máte možnost si prodloužit víkend ve vlastní režii do neděle, akce však končí v sobotu v 18:30 vyhlášením výsledků.

%h2 Vybavení

%p Pro závod budete potřebovat přístup na internet, a to po celou dobu od pátečního odjezdu z Prahy do sobotního podvečera, kdy závod končí. Doporučujeme mít proto ve hlídce alespoň tři plně nabité telefony s datovou sim, nejlépe různých operátorů, neboť v lese nemusí být signál za všech okolností. Dále byste měli mít náhradní powerbanky (alespoň dvě na hlídku) a kabely. Dále doporučujeme vypnutí nepotřebných aplikací, funkcí a vysílačů, jako je bluetooth. Zapnutí úsporného režimu, snížení jasu obrazovky a pochopitelně nepoužívání přístrojů pro jiné aktivity je samozřejmostí. Dále doporučujeme mít jeden mobilní telefon (nemusí být smartphone) jako zálohu pro případ potřeby nouzových volání. Bude třeba mít zařízení s gps na určení polohy pro geocaching. Je-li to mobil, nebo gpska, je věcí družiny. Krajní variantou je použití dostatečně podrobné papírové mapy s vyznačenou souřadnicovou sítí WGS84.

%p Každá hlídka potřebuje: mobil nebo tablet s přístupem na net, vařič, nádobí na večeři, společné jídlo pro vaření večeře (viz zadání modulu přežití -- vaření večeře je jednou z disciplín), stan a lékárničku (pro vlastní potřebu, na stanovišti zdravovědy nebude potřeba)

%p Každý účastník potřebuje dále vhodný batoh, spacák, karimatku, oblečení a obuv podle počasí na pochod cca 10 km v přírodě, mobilní telefon, pití na pátek večer a sobotu ráno, jídlo na sobotu celý den.

