%h1 Modul Před závodem :: představení družiny

%p Vaše prezentační selfie jsme v pořádku přijali a během večera jej vyhodnotíme.

%p= link_to "Zpět na modul Přežití", module_survival_team_path(uid: @team.uid), class: "btn btn-default"