%div.row
  %div.col-sm-1.col-xs-2 &nbsp;
  %div.col-sm-5.col-xs-10 Hlídka
  %div.col-sm-3.col-xs-8 Body
  %div.col-sm-2.col-xs-4 &nbsp;
- Team.order(:name).each do |team|
  %div{id: "point_form_#{team.id}"}
    = render partial: "point_form", locals: {team: team, racepoint: @racepoint, failed: nil}
