%iframe(width="640" height="480" src="https://www.youtube.com/embed/PtdrV5lKDBI" frameborder="0" style="margin-bottom:20px")

%p Drahé vítězné hlídky,

%p od dne, kdy jste vyhrály základní kola, již uběhlo mnoho času. Na zemi došlo k velkým změnám a nikdo si není jistý, zda dožije dalšího dne, jelikož vše je závislé na tom, kolik ČASU kdo má. Lidé chodí do práce, kde pracují nějaký čas  a jedinou odměnou jim je  opět čas, který mají jak na přežití, tak i na pokrytí všech svých potřeb.  Panuje názor, že není možné si vydělat dostatek času na přežití do 19.9. za jeden víkend. Rozhodl jsem se udělat drobný experiment. Vítězným hlídkám nabídnu tolik práce, aby si zvládly vydělat dostatek času na pohodové přežití do září. Sejdeme se v pátek 7.6. nedaleko Prahy, kde Vám ve svých podnicích nabídnu dostatečnou práci.

%p Doufám, že se připravíte svědomitě na tento pracovní víkend a nebudete dělat ostudu!

%p 
  Těším se na brzké osobní setkání, 
  %br
  John Green
  %br
  majitel společnosti Pear company a.s.
  
  
%div.bs-callout.bs-callout-info
  %p Můžete se rovnou pustit do plnění úkolů modulu #{link_to "Před závodem", module_before_team_path(uid: @team.uid)}.
  %p Prostudujte si také informace k dalším částem závodu v záložkách #{link_to "Důležité", info_team_path(uid: @team.uid)}, #{link_to "Přežití", module_survival_team_path(uid: @team.uid)} a #{link_to "Závod", module_race_team_path(uid: @team.uid)}!

  
%div.bs-callout.bs-callout-danger
  Tuto webovou stránku budete používat po celou dobu závodu i před ním, tak si ji uložte mezi oblíbené odkazy, abyste ji měli vždy po ruce.
  