:css
  .hytPlayerWrapOuter {
  width: 640px;
  max-width:100%; 
  }
  .hytPlayerWrap {
  width: 100%;
  max-height: calc(100vh - 70px);
  padding-bottom: 56.25%; /* ratio 16/9 */
  }
  .hytPlayerWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  .hytPlayerWrap{display: inline-block; position: relative;}
  .hytPlayerWrap.ended::after{content:""; position: absolute; top: 0; left: 0; bottom: 0; right: 0; cursor: pointer; background-color: black; background-repeat: no-repeat; background-position: center; background-size: 64px 64px; background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==);}
  .hytPlayerWrap.paused::after{content:""; position: absolute; top: 70px; left: 0; bottom: 50px; right: 0; cursor: pointer; background-color: black; background-repeat: no-repeat; background-position: center; background-size: 40px 40px; background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);}
%div.hytPlayerWrapOuter
  %div.hytPlayerWrap
    %iframe(src="https://www.youtube.com/embed/PtdrV5lKDBI?rel=0&enablejsapi=1" frameborder="0")
:javascript
  "use strict";
  $(function(){
    console.log("yt1");
    if (window.hideYTActivated) return; 
    let onYouTubeIframeAPIReadyCallbacks=[]; 
    for (let playerWrap of document.querySelectorAll(".hytPlayerWrap")){
      console.log("yt2");
        let playerFrame=playerWrap.querySelector("iframe"); 
        let tag=document.createElement('script'); 
        tag.src="https://www.youtube.com/iframe_api"; let firstScriptTag=document.getElementsByTagName('script')[0]; 
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag); 
        let onPlayerStateChange=function(event){
          if (event.data==YT.PlayerState.ENDED){playerWrap.classList.add("ended");}
          else if (event.data==YT.PlayerState.PAUSED){playerWrap.classList.add("paused");}
          else if (event.data==YT.PlayerState.PLAYING){playerWrap.classList.remove("ended"); playerWrap.classList.remove("paused");}}; 
          let player; 
          onYouTubeIframeAPIReadyCallbacks.push(function(){
            player=new YT.Player(playerFrame,{events:{'onStateChange': onPlayerStateChange}});
          }); 
          playerWrap.addEventListener("click", function(){let playerState=player.getPlayerState(); if (playerState==YT.PlayerState.ENDED){player.seekTo(0);}else if (playerState==YT.PlayerState.PAUSED){player.playVideo();}});}
      window.onYouTubeIframeAPIReady = function(){
        for (let callback of onYouTubeIframeAPIReadyCallbacks){callback();}
      }; 
      window.hideYTActivated=true;
  });

%p Drahé vítězné hlídky,

%p od dne, kdy jste vyhrály základní kola, již uběhlo mnoho času. Na zemi došlo k velkým změnám a nikdo si není jistý, zda dožije dalšího dne, jelikož vše je závislé na tom, kolik ČASU kdo má. Lidé chodí do práce, kde pracují nějaký čas  a jedinou odměnou jim je  opět čas, který mají jak na přežití, tak i na pokrytí všech svých potřeb.  Panuje názor, že není možné si vydělat dostatek času na přežití do 19.9. za jeden víkend. Rozhodl jsem se udělat drobný experiment. Vítězným hlídkám nabídnu tolik práce, aby si zvládly vydělat dostatek času na pohodové přežití do září. Sejdeme se v pátek 7.6. nedaleko Prahy, kde Vám ve svých podnicích nabídnu dostatečnou práci.

%p Doufám, že se připravíte svědomitě na tento pracovní víkend a nebudete dělat ostudu!

%p 
  Těším se na brzké osobní setkání, 
  %br
  John Green
  %br
  majitel společnosti Pear company a.s.
  
  
%div.bs-callout.bs-callout-info
  %p Můžete se rovnou pustit do plnění úkolů modulu #{link_to "Před závodem", module_before_team_path(uid: @team.uid)}.
  %p Prostudujte si také informace k dalším částem závodu v záložkách #{link_to "Důležité", info_team_path(uid: @team.uid)}, #{link_to "Přežití", module_survival_team_path(uid: @team.uid)} a #{link_to "Závod", module_race_team_path(uid: @team.uid)}!

  
%div.bs-callout.bs-callout-danger
  Tuto webovou stránku budete používat po celou dobu závodu i před ním, tak si ji uložte mezi oblíbené odkazy, abyste ji měli vždy po ruce.
  